


            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_dakeshui"></use>
            </svg>
            <div class="name">白团子表情库_打瞌睡</div>
            <div class="code-name">#icon-baituanzibiaoqingku_dakeshui</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_burenzhishi"></use>
            </svg>
            <div class="name">白团子表情库_不忍直视</div>
            <div class="code-name">#icon-baituanzibiaoqingku_burenzhishi</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_heng"></use>
            </svg>
            <div class="name">白团子表情库_哼</div>
            <div class="code-name">#icon-baituanzibiaoqingku_heng</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_bugaoxing"></use>
            </svg>
            <div class="name">白团子表情库_不高兴</div>
            <div class="code-name">#icon-baituanzibiaoqingku_bugaoxing</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_deyi"></use>
            </svg>
            <div class="name">白团子表情库_得意</div>
            <div class="code-name">#icon-baituanzibiaoqingku_deyi</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_kaixin"></use>
            </svg>
            <div class="name">白团子表情库_开心</div>
            <div class="code-name">#icon-baituanzibiaoqingku_kaixin</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_ku"></use>
            </svg>
            <div class="name">白团子表情库_哭</div>
            <div class="code-name">#icon-baituanzibiaoqingku_ku</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_nu"></use>
            </svg>
            <div class="name">白团子表情库_怒</div>
            <div class="code-name">#icon-baituanzibiaoqingku_nu</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_renzhen"></use>
            </svg>
            <div class="name">白团子表情库_认真</div>
            <div class="code-name">#icon-baituanzibiaoqingku_renzhen</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_lengmolian"></use>
            </svg>
            <div class="name">白团子表情库_冷漠脸</div>
            <div class="code-name">#icon-baituanzibiaoqingku_lengmolian</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_se"></use>
            </svg>
            <div class="name">白团子表情库_色</div>
            <div class="code-name">#icon-baituanzibiaoqingku_se</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_qinqin"></use>
            </svg>
            <div class="name">白团子表情库_亲亲</div>
            <div class="code-name">#icon-baituanzibiaoqingku_qinqin</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_shengbing"></use>
            </svg>
            <div class="name">白团子表情库_生病</div>
            <div class="code-name">#icon-baituanzibiaoqingku_shengbing</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_tushetou"></use>
            </svg>
            <div class="name">白团子表情库_吐舌头</div>
            <div class="code-name">#icon-baituanzibiaoqingku_tushetou</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_weixiao"></use>
            </svg>
            <div class="name">白团子表情库_微笑</div>
            <div class="code-name">#icon-baituanzibiaoqingku_weixiao</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_zhayan"></use>
            </svg>
            <div class="name">白团子表情库_眨眼</div>
            <div class="code-name">#icon-baituanzibiaoqingku_zhayan</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_shuijue"></use>
            </svg>
            <div class="name">白团子表情库_睡觉</div>
            <div class="code-name">#icon-baituanzibiaoqingku_shuijue</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_suan"></use>
            </svg>
            
            <div class="name">白团子表情库_酸</div>
            <div class="code-name">#icon-baituanzibiaoqingku_suan</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-baituanzibiaoqingku_kuxiaobude"></use>
            </svg>
            <div class="name">白团子表情库_哭笑不得</div>
            <div class="code-name">#icon-baituanzibiaoqingku_kuxiaobude</div>
        </li>

        <li class="dib">
            <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-biaoqingcopy"></use>
            </svg>
            <div class="name">表情 笑脸</div>
            <div class="code-name">#icon-biaoqingcopy</div>
        </li>

    </ul>