<div class="jumbotron">
    <h1>课堂教学评价管理平台</h1>
    <p class="lead">数据管理</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">  &raquo;</a></p>
    </div>
</div>
